/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 35px;
  font-size: 15px;
  color: #0b0c0c;
  font-family: courier, arial, sans-serif;
}

a {
  color: #0b0c0c;
}

.notice {
  color: green;
}

h1 {
  margin: 20px 0;
}

p {
  margin: 35px;
}

table {
  display: table;
  border-collapse: separate;
}

th, td {
  display: table-cell;
  padding: 0 5px 5px;
}


h2 {
  margin: 20px 0;
}

.error_messages {
  width: 400px;
  color: red;
  padding-left: 15px;
  background-color: #f3c3c3;
}

ul {
  padding: 30px 50px;
}

label {
  display: block;
}

.field, .action, .error_messages {
  margin-bottom: 10px;
}